/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "1.0.0"
   mainScript = "main.nf"
   defaultBranch = "main"
   name = "SIGS siRNA analysis"
   description = "Analysis siRNAs generated via SIGS method; this includes alignment overview, hotspot detection and length and nucleotide distribution"
   nextflowVersion = "23.10.1"
}

/*
 * Parameters
 */

params {
   // General parameters
   output_dir = "output"
   // Set length limitations for reads
   min_length = 15
   max_length = 30
   // If true then bacterial contaminations are filtered with kraken2
   filter_bac_cont = false
   kraken_db_dir = '/vol/biodb/local_databases/MGX/kraken2/kraken2-20231102'
   // If true all alignments are considered (overrides --max_alignments)
   report_all_alignments = false
   // Max number of alignments reported per read
   max_alignments = 5
   // Percentiles used for hotspot detection (overwrites cutoff) (1-100)
   percentile_hotspot = false
   cutoff_hotspot = false


}

/*
 * Fixed Parameters (should not be accessed)
 */

params.manifest   = manifest
params.help       = false

/*
 * Saves reports to output directory
 */

report {
   enabled  = false //TODO: set to trtue when finished
   file     = "${params.output_dir}/metadata/report.html"
}

dag {
   enable   = false //TODO: set to trtue when finished
   file     = "${params.output_dir}/metadata/graph-overview.html"
}

timeline {
   enable   = false //TODO: set to trtue when finished
   file     = "${params.output_dir}/metadata/graph-overview.html"
}



/*
 * Executor options
 */

podman.enabled = true

/*
 * Profiles
 */

profiles {
	slurm {
		process.executor = 'slurm'
	}
}

/*
 * Process resource and container allocation
 */

process {
   withName: 'quality_control|quality_control_2' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/fastqc:1.0.1'
	}

	withName: 'adapter_removal|length_filter' {
		cpus = 1
		memory = '5 GB'
		container = 'docker://pbarth/trim_galore:1.0.1'
	}

   //TODO: create own container?
   withName: filter_bacterial_contamination {
      cpus = 8
      memory = '100 GB'
      maxForks = 2
      container = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0' 
   }

   withName: 'build_index|mapping' {
		cpus = 4
		memory = '5 GB'
		container = 'docker://pbarth/bowtie2:1.0.1'
	}

   withName: 'extract_perfect_hits|sort_alignments|index_alignments|get_read_names' {
      cpus = 1
      memory = '2 GB'
      container = 'docker://pbarth/samtools:1.0'
   }

   withName: 'collect_reads|get_length_distribution|collect_metadata|get_md5sum|collect_versions' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/base:1.0'
	}

   //TODO: Build container with genomeCoverageBed
   withName: 'transform_to_bed' {
      cpus = 1
      memory = '1 GB'
   }

   //TODO: Build R Container
   withName: 'generate_R_plots' {
      cpus = 1
      memory = '5 GB'
      container = 'docker://pbarth/rplots:1.0.3'
   }

   //TODO: Build python container with allpython scripts
   withName: 'calc_percent|find_potential_hotspots' {
      cpus = 1
      memory = '5 GB'
   }
}