/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "1.0.0"
   mainScript = "main.nf"
   defaultBranch = "master"
   name = "< Short name >"
   desription = "< Short description >"
   nextflowVersion = "23.04.1"
}

/*
 * Parameters
 */

params {
   // General parameters
   output_dir = "output"
   // Read processing
   min_length              = 20  //Minimum length of reads to remain after adapter trimming
   min_qual                = 20  //Minimum quality allowed for bases to remain
   min_percent_qual_filter = 90  //Percentage of bases within a read that need to be above the quality threshold for the read to remain
}

/*
 * Fixed Parameters (should not be accessed)
 */

params.manifest   = manifest
params.help       = false

/*
 * Saves reports to output directory
 */

report {
   enabled  = true
   file     = "${params.output_dir}/metadata/report.html"
}

dag {
   enable   = true
   file     = "${params.output_dir}/metadata/graph-overview.html"
}

timeline {
   enable   = true
   file     = "${params.output_dir}/metadata/graph-overview.html"
}



/*
 * Executor options
 */

podman.enabled = true

/*
 * Profiles
 */

profiles {
	slurm {
		process.executor = 'slurm'
	}
}

/*
 * Process resource and container allocation
 */

process {
   withName: 'quality_control|quality_control_2' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/fastqc:1.0.1'
	}

	withName: adapter_removal {
		cpus = 1
		memory = '5 GB'
		container = 'docker://pbarth/trim_galore:1.0.1'
	}

	withName: quality_filter {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/fastx:1.0'
	}

   withName: 'collect_metadata|get_md5sum|collect_versions' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/base:1.0'
	}
}