/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "1.0.0"
   mainScript = "main.nf"
   defaultBranch = "main"
   name = "< SIGS siRNA analysis >"
   desription = "< Analysis siRNAs generated via SIGS method; this includes alignment overview, hotspot detection and length and nucleotide distribution >"
   nextflowVersion = "23.04.1"
}

/*
 * Parameters
 */

params {
   // General parameters
   output_dir = "output"
   // Read processing
   // If true then bacterial contaminations are filtered with kraken2
   filter_bac_cont = false

}

/*
 * Fixed Parameters (should not be accessed)
 */

params.manifest   = manifest
params.help       = false

/*
 * Saves reports to output directory
 */

report {
   enabled  = true
   file     = "${params.output_dir}/metadata/report.html"
}

dag {
   enable   = true
   file     = "${params.output_dir}/metadata/graph-overview.html"
}

timeline {
   enable   = true
   file     = "${params.output_dir}/metadata/graph-overview.html"
}



/*
 * Executor options
 */

podman.enabled = true

/*
 * Profiles
 */

profiles {
	slurm {
		process.executor = 'slurm'
	}
}

/*
 * Process resource and container allocation
 */

process {
   withName: 'quality_control|quality_control_2' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/fastqc:1.0.1'
	}

	withName: adapter_removal {
		cpus = 1
		memory = '5 GB'
		container = 'docker://pbarth/trim_galore:1.0.1'
	}

   withName: 'collect_metadata|get_md5sum|collect_versions' {
		cpus = 1
		memory = '1 GB'
		container = 'docker://pbarth/base:1.0'
	}
}